body {
  background-color: pink;
  display: block;
  text-align: center;
}
/* .no2 { */
/* text-align: center;
  width: 30%;
  margin: auto;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 0%;
  background-color: white;
  border: 2px solid black;
  border-radius: 10px;
  text-align: left;
  font-family: Arial;
} */
/* section .no1 {
  text-align: center;
  width: 30%;
  margin: auto;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 0%;
  background-color: white;
  border: 2px solid black;
  border-radius: 10px;
  text-align: left;
  font-family: Arial;
} */
div {
  width: 30%;
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 0%;
  margin-top: 10px;
  margin-bottom: 0%;
  /* margin-left: 50px;
  margin-right: 50px; */
  background-color: white;
  border: 2px solid black;
  border-radius: 10px;
  text-align: left;
  font-family: Arial;
}
.no1 {
  padding-bottom: 10px;
  font-size: 15px;
  font-family: "Times New Roman", Times, serif;
}
mark {
  background-color: white;
  color: red;
}
.iii {
  display: inline-block;
  border: 0cap;
  padding-bottom: 10px;
  background-color: none;
  background: none;
}
footer .iv {
  background-color: none;
  background: none;
  border: none;
}
